<div class="inner-wrapper">
  <div id="searchBar"><a href=<%= url_for controller:"unique", action:"index" %> alt="Volver al home" title="Volver al home">
    <div class="logo"></div></a>
      <%= form_tag('/search/circuits', :method => "get", id: "searchForm") do %>
          <%= text_field_tag 'word',nil, id: "search-input", placeholder: "Ingresá tu ciudad/pais de busqueda", class: "inptsearch" %>
          <select id="option_select" name="option_select" class="dropdown" required>
            <option value="">Seleccione una opción...</option>
            <option value="Program">Circuitos</option>
            <option value="Service">Servicios</option>
            <option value="OutputGroups">Salidas grupales</option>
          </select> 
          <%= hidden_field_tag :id_search  %>
          <%= hidden_field_tag :type_search  %>
            <%= submit_tag "BUSCAR", :name => "searchBtn", class: "searchBtn" %>
      <% end %>
  </div>
</div>