  <script type="text/javascript">
  $(document).ready(function(){ 
    // console.log("asdasda");
       $('.head').backstretch([
          "<%= asset_path 'cabeza_01.jpg' %>"
        , "<%= asset_path 'cabeza_02.jpg' %>"
        , "<%= asset_path 'cabeza_03.jpg' %>"
      , "<%= asset_path 'cabeza_04.jpg' %>"
      , "<%= asset_path 'cabeza_05.jpg' %>"
      , "<%= asset_path 'cabeza_06.jpg' %>"
      , "<%= asset_path 'cabeza_07.jpg' %>"
      , "<%= asset_path 'cabeza_08.jpg' %>"
      , "<%= asset_path 'cabeza_09.jpg' %>"
      , "<%= asset_path 'cabeza_10.jpg' %>"
      ], {duration: 3000, fade: 750});

  });

</script>
<header class="head bimg-06">
       <%= render 'partials/search' %>
    <h1>CONTACTO</h1>	
  </header>
  
  <div class="content-wrapper">
  <%= form_tag({controller: "unique", action: "send_contact_mail"}, method: "post", id: "contact") do %>
    <fieldset>
      <%= label_tag(:name, "Nombre y Apellido") %>
      <%= text_field_tag(:name) %>
      <%= label_tag(:company, "Empresa") %>
      <%= text_field_tag(:company) %>
      <%= label_tag(:email, "Email") %>
      <%= text_field_tag(:email) %>
      <%= label_tag(:msg, "CONSULTA") %>
      <%= text_area_tag(:msg) %>
    </fieldset>  
    <%= submit_tag("ENVIAR", class: "submitBtn") %>
  <% end %>  	
  <br class="clearfix"/>
</div>