  <script type="text/javascript">
  $(document).ready(function(){ 
    // console.log("asdasda");
       $('.head').backstretch([
          "<%= asset_path 'cabeza_01.jpg' %>"
        , "<%= asset_path 'cabeza_02.jpg' %>"
        , "<%= asset_path 'cabeza_03.jpg' %>"
      , "<%= asset_path 'cabeza_04.jpg' %>"
      , "<%= asset_path 'cabeza_05.jpg' %>"
      , "<%= asset_path 'cabeza_06.jpg' %>"
      , "<%= asset_path 'cabeza_07.jpg' %>"
      , "<%= asset_path 'cabeza_08.jpg' %>"
      , "<%= asset_path 'cabeza_09.jpg' %>"
      , "<%= asset_path 'cabeza_10.jpg' %>"
      ], {duration: 3000, fade: 750});

  });

</script>
<header class="head bimg-04">
	       <%= render 'partials/search' %>

    <h1>INFORMACION DESTINO</h1>	
</header>
<div class="content-wrapper">
        
	<div class="info-wrapper dwnld-wrapper" id="content">
    	<p>
        <% @countries.each do | country | %>
        	<!-- Contenido que se repite -->
            <div class="dwnldItem">
            	<a target="_blank" alt="Descargar pdf" title="Descargar pdf" href=<%= url_for :controller => "unique",:action => "show_country_pdf", :id => country.id, :format => "pdf" %>>
            	<h2><%= country.name %></h2>
                <%= image_tag(country.country_photo.photo_thumb) %>
                <div class="over"></div>
            	</a>
            </div>
            <!-- Fin de contenido que se repite -->
        <% end %>
        <br style="clearfix"/>
        </p>
    </div>
    
</div>