  <script type="text/javascript">
  $(document).ready(function(){ 
    // console.log("asdasda");
       $('.head').backstretch([
          "<%= asset_path 'cabeza_01.jpg' %>"
        , "<%= asset_path 'cabeza_02.jpg' %>"
        , "<%= asset_path 'cabeza_03.jpg' %>"
      , "<%= asset_path 'cabeza_04.jpg' %>"
      , "<%= asset_path 'cabeza_05.jpg' %>"
      , "<%= asset_path 'cabeza_06.jpg' %>"
      , "<%= asset_path 'cabeza_07.jpg' %>"
      , "<%= asset_path 'cabeza_08.jpg' %>"
      , "<%= asset_path 'cabeza_09.jpg' %>"
      , "<%= asset_path 'cabeza_10.jpg' %>"
      ], {duration: 3000, fade: 750});

  });

</script>
<header class="head bimg-04">
	       <%= render 'partials/search' %>

    <h1>INFORMACION DESTINO</h1>	
</header>
<div class="content-wrapper">
        
	<div class="info-wrapper dwnld-wrapper" id="content">
    	<p>
    	<div class="dwnldItem">
        	<a href>
        	<h2>Proximamente..</h2>
            <%= image_tag("imagen_inexistente.png") %>
            <div class="over"></div>
        	</a>
        </div>
        <div class="dwnldItem">
        	<a href>
        	<h2>Proximamente..</h2>
            <%= image_tag("imagen_inexistente.png") %>
            <div class="over"></div>
        	</a>
        </div>
        <div class="dwnldItem">
        	<a href>
        	<h2>Proximamente..</h2>
            <%= image_tag("imagen_inexistente.png") %>
            <div class="over"></div>
        	</a>
        </div>
        <div class="dwnldItem">
        	<a href>
        	<h2>Proximamente..</h2>
            <%= image_tag("imagen_inexistente.png") %>
            <div class="over"></div>
        	</a>
        </div>
        <div class="dwnldItem">
        	<a href>
        	<h2>Proximamente..</h2>
            <%= image_tag("imagen_inexistente.png") %>
            <div class="over"></div>
        	</a>
        </div>
        <div class="dwnldItem">
        	<a href>
        	<h2>Proximamente..</h2>
            <%= image_tag("imagen_inexistente.png") %>
            <div class="over"></div>
        	</a>
        </div>
        <div class="dwnldItem">
        	<a href>
        	<h2>Proximamente..</h2>
            <%= image_tag("imagen_inexistente.png") %>
            <div class="over"></div>
        	</a>
        </div>
        <div class="dwnldItem">
        	<a href>
        	<h2>Proximamente..</h2>
            <%= image_tag("imagen_inexistente.png") %>
            <div class="over"></div>
        	</a>
        </div>
        <div class="dwnldItem">
        	<a href>
        	<h2>Proximamente..</h2>
            <%= image_tag("imagen_inexistente.png") %>
            <div class="over"></div>
        	</a>
        </div>
        
        <br style="clearfix"/>
        </p>
    </div>
    
</div>