<header class="head-home">
    <div class="logo-home"></div>
    <h1>VIAJES ÚNICOS. EXPERIENCIAS ÚNICAS</h1>
</header>

<div id="searchBar" class="homeSearchBar">
    <div class="inner-wrapper">
       <%= form_tag('/search/circuits', :method => "get", id: "searchForm") do %>
          <div id="input-div" class="input-div">
            <%= text_field_tag 'word',nil, id: "search-input", placeholder: "Ingresá tu ciudad/pais de busqueda", class: "inptsearch" %>
          </div>
          <select id="option_select" name="option_select" class="dropdown" required>
            <option value="">Seleccione una opción...</option>
            <option value="Program">Circuitos</option>
            <option value="Service">Servicios</option>
            <option value="OutputGroups">Salidas grupales</option>
          </select>
          <%= hidden_field_tag :id_search  %>  
          <%= hidden_field_tag :type_search  %>
          <div class="button-input-div">
            <%= submit_tag "BUSCAR", :name => "searchBtn", class: "searchBtn" %>
          </div>
        <% end %>
        <% end%>
    </div>
</div>


<script type="text/javascript">
   $.backstretch([
      "<%= asset_path 'home_01.jpg' %>"
    , "<%= asset_path 'home_02.jpg' %>"
    , "<%= asset_path 'home_03.jpg' %>"
  , "<%= asset_path 'home_04.jpg' %>"
  ], {duration: 3000, fade: 750});


</script>
