  <script type="text/javascript">
  $(document).ready(function(){ 
    // console.log("asdasda");
       $('.head').backstretch([
          "<%= asset_path 'cabeza_01.jpg' %>"
        , "<%= asset_path 'cabeza_02.jpg' %>"
        , "<%= asset_path 'cabeza_03.jpg' %>"
      , "<%= asset_path 'cabeza_04.jpg' %>"
      , "<%= asset_path 'cabeza_05.jpg' %>"
      , "<%= asset_path 'cabeza_06.jpg' %>"
      , "<%= asset_path 'cabeza_07.jpg' %>"
      , "<%= asset_path 'cabeza_08.jpg' %>"
      , "<%= asset_path 'cabeza_09.jpg' %>"
      , "<%= asset_path 'cabeza_10.jpg' %>"
      ], {duration: 3000, fade: 750});

  });

</script>
<header class="head header bimg-10">
        	       <%= render 'partials/search' %>

            <h1>Qué es UNIQUE?</h1>	
        </header>
<div class="content-wrapper">
    <div class="info-wrapper" id="content">
        <p>Es un producto pensado por AERO para superar las expectativas de tus clientes más exigentes, con atención personalizada brindando el mejor servicio con el respaldo y la seguridad de siempre.</p>
        <p>Con AERO Unique no vas a vender un viaje, vas a poder ofrecerles a tus paxs experiencias y emociones inolvidables, muchas de ellas soñadas y otras inimaginables hasta hoy.</p>
        <p>AERO Unique está pensado para que tus clientes se sientan únicos, atendiendo a todas sus necesidades, enfocando nuestro trabajo en cada detalle de la experiencia.</p>
        <p>Con AERO Unique podés vender destinos no tradicionales y exóticos con el mejor asesoramiento, profesionalismo y variedad de servicios, para salidas Individuales y grupales, acompañadas desde Buenos Aires con toda la confianza, seguridad y tranquilidad que te ofrece AERO, una empresa con más de cincuenta años de experiencia en Turismo.</p>
        <p>Te esperamos para que disfrutes de este nuevo servicio…</p>
        <p>Unique, viajes únicos, experiencias únicas.</p>
    </div>
</div>