<script>
    (function($){
        $(window).load(function(){
            $("#content").mCustomScrollbar({
					scrollButtons:{enable:true},
					theme:"light-thick",
					
					scrollbarPosition:"outside"
				});
			
        });
    })(jQuery);
</script>
<header class="head bimg-04">
	       <%= render 'partials/search' %>

    <h1><%= @word %></h1>	
</header>
<div class="content-wrapper">
	<div class="info-wrapper rslt-wrapper" id="content">
        
	<!-- comienza lo que se tiene que repetir -->
        <% @uniques.each do | unique | %>
            <div class="rsltItem">
                <div class="infoCol">
                    <h2 alt="<%= unique.name %>" title="<%= unique.name %>"><% if unique.name.length < 40 %> 
                                <%= unique.name %>
                            <% else %>
                                <%= unique.name[0,40]+"..." %>
                            <% end %> 
                            <small><%= unique.nights %> Noches</small></h2>
                    <!-- <img src="images/iDst_thumb_example.jpg" class="inCol"/> -->
                    <div class="details">
                        <%= raw unique.summary %>
                        <a href=<%= url_for :controller => "unique",:action => "show", :id => unique.id, :word => @word %>><input type="button" value="+info" class="infoBtn"/></a>
                    </div>
                </div>
                <img src="images/iDst_thumb_example.jpg"  class="outCol"/>
            </div>
        <% end %>
        <!-- termina lo que se tiene que repetir -->
     </div>
</div>	