  <script type="text/javascript">
  $(document).ready(function(){ 
    // console.log("asdasda");
       $('.head').backstretch([
          "<%= asset_path 'cabeza_01.jpg' %>"
        , "<%= asset_path 'cabeza_02.jpg' %>"
        , "<%= asset_path 'cabeza_03.jpg' %>"
      , "<%= asset_path 'cabeza_04.jpg' %>"
      , "<%= asset_path 'cabeza_05.jpg' %>"
      , "<%= asset_path 'cabeza_06.jpg' %>"
      , "<%= asset_path 'cabeza_07.jpg' %>"
      , "<%= asset_path 'cabeza_08.jpg' %>"
      , "<%= asset_path 'cabeza_09.jpg' %>"
      , "<%= asset_path 'cabeza_10.jpg' %>"
      ], {duration: 3000, fade: 750});

  });

</script>
<header class="head bimg-04">
	       <%= render 'partials/search' %>

    <h1><%= @word %></h1>	
</header>

<div class="content-wrapper">
          
            <div class="info-wrapper rslt-wrapper" id="content">
            
            
              <div class="rslt-column">
                    <!--  CONTENIDO QUE SER REPITE  -->
                    <div class="rsltItem-serv">
                    
                        <div class="infoCol">
                            
                            <div class="ttlCol">
                                <h2>ROMA DE NOCHE<small> (tour panorámico)</small></h2>
                                <span>Roma</span>
                            </div>
                            
                            <div class="priceCol">
                                <h3>€ 42,5 <small>+ 1,87 IMP</small></h3>
                                <h5>CHD € 42,5 + 187 imp</h5>
                            </div><!-- /.priceCol -->
                            <br class="clearfix" />
                        </div><!-- /.infoCol -->
                        
                        <div class="serv-details collapsible collapse-close" id="rsltDetail0">
                            
                            <div><a class="expander" href="#">VER MÁS</a>
                              <input name="rslt1-check" id="rslt1-check" value="1" type="checkbox" />
                                <label class="rslt_check" for="rslt1-check">
                                    Seleccione para enviar por mail
                                </label>
                            </div>
                            
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut odio in leo malesuada molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam erat volutpat. Morbi nisi mauris, rutrum vel quam a, posuere iaculis turpis. Vestibulum lacinia ex lacus, sed sodales felis elementum at. Sed elementum est eu nulla suscipit facilisis. Maecenas porta nunc arcu, et venenatis sem blandit et.</p>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut odio in leo malesuada molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam erat volutpat. Morbi nisi mauris, rutrum vel quam a, posuere iaculis turpis. Vestibulum lacinia ex lacus, sed sodales felis elementum at. Sed elementum est eu nulla suscipit facilisis. Maecenas porta nunc arcu, et venenatis sem blandit et.</p>
                            </div><!-- /.content -->
                            
                        </div><!-- /.serv-details -->
                            
                        
                    </div><!-- /.rsltItem-serv -->
                    
                    <!--  CONTENIDO QUE SER REPITE  -->
                    </div><!-- /.rslt-column"-->
             </div>
             <div class="action-wrapper">
             <a href class="btn-send">ENVIAR POR MAIL</a>
             </div>
        </div>


    <script type="text/javascript" src="../../assets/minified/simple-expand.min.js"></script>
    <script type="text/javascript">
  
        $(function () {
            $('.expander').simpleexpand();
        });
    
  </script>