<script>
    (function($){
      $(window).load(function(){
       $('#tab-container').easytabs();
      });
    })(jQuery);

    $(document).ready(function(){
      var isEmail = function (email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
      };

      var csrfToken = $("meta[name='csrf-token']").attr("content");
      $.ajaxSetup({
        headers: {
          'X-CSRF-Token': csrfToken
        }
      });

      $('#submit-modal').on('click', function () {
        var params = {email: $('.input-modal').val(), program_id: $('#program_id').val()};
        if (isEmail(params.email)) {
          $.post('/unique/send_program_info', params, function (){
            $('#myModal').modal('hide');
            $('.input-modal').val('');
          });

          return true;
        }else{
          if ($('.modal-content .modal-footer').length == 0) {
            $('.modal-content').append('<div class="modal-footer"><p>Email incorrecto</p></div>');
          }

          return false;
        };
      });
    
    });
</script>
    
        <header class="head bimg-05">
	       <%= render 'partials/search' %>

		    <h1><%= @program.name %></h1>	
		</header>
        
        <div class="content-wrapper">
        	<div class="info-wrapper dtl-wrapper" id="content">
            
         		<div id="tab-container" class="tab-container">
                
                  <ul class='etabs'>
                    <li class='tab'><a href="#tabs1-1">ITINERARIO<span></span></a></li>
                    <li class='tab'><a href="#tabs1-2">TARIFAS<span></span></a></li>
                    <li class='tab last'><a href="#tabs1-3">INFORMACIÓN DEL DESTINO<span></span></a></li>
                    <br class="clearfix"/>
                  </ul>
                  
                  <div class="contentWrapper">
                      <div id="tabs1-1" class="tabContent">
                        
                        <% if @program.program_photo %>
                            <%= image_tag(@program.program_photo.photo, class: "tabbedImg" )  %>
                        <% else %>
                            <%= image_tag("imagen_inexistente.png", class: "tabbedImg" )  %>
                        <% end %> 
                        <%= @program.description.html_safe %>
                      </div>

                      <div id="tabs1-2" class="tabContent">
                        <%= @program.prices.html_safe %>
                      </div>
                      
                      <div id="tabs1-3" class="tabContent">
                        <%= @program.text.html_safe %>
                      </div>
                      
                      <div class="bottomBar">
                      	<span>|</span>
                      	<a href=<%= url_for :controller => "unique",:action => "search", :word => @word, :type_search => @type_search, :id_search => @id %>>Volver a resultados</a>
                        <span>|</span>
                      	<a data-toggle="modal" data-target="#myModal" href="#">Enviar por mail</a>
                        <span>|</span>
                        <a target="_blank" href=<%= url_for :controller => "unique",:action => "show_pdf", :id => @program.id, :format => "pdf" %>>Descargar info</a>
                        <span>|</span>
                      </div>                      
                  </div>
                </div>
                
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <%= label_tag(:email, "Email:", class: "label-modal") %>
                <%= email_field(:email, nil , :placeholder => 'ejemplo@ejemplo.com', class: "input-modal") %>     
                <%= hidden_field_tag 'program_id', @program.id %>
                <%= submit_tag("Enviar", id: "submit-modal" ,class: "submit-modal") %>
              </div>
            </div>
          </div>
        </div>
       

